body {
    background-color: lightcyan;
}

h1 {
color: orange;
}

h2 {
color: chocolate;
}

.esimerkki {
    color: hotpink;
}

.hankalaa {
    color: darkmagenta;
}

.esimerkki-box{
    background-color: #BBFFBB;
    border: 1px solid;
    padding: 5px;
}

.spanni{
    color: aqua;
}

table {
    width: 300px;
    border-collapse: collapse;
}

.jsharkkatyyli {
    display: none;
}


table tr td{
    border: solid black 1px; 
    padding-left: 5px;
    border-spacing: 0px;
}

tbody tr:nth-child(odd){
    background-color: beige;
}